.App {
  text-align: center;
  /* background-color: #49da9a; */
}

.App-header {
  background-image: linear-gradient(to left, #d23be7, #4355db, #34bbe6, #49da9a, #a3e048, #f7d038, #eb7532, #e6261f);
  color: white;
  padding: 1rem;
}

h1 {
  text-transform: uppercase;
}
.qweens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.qweenContainer {
  height: 16rem;
  width: 12rem;
  margin: 1rem;
  border: 1rem ridge red;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flyin .2s ease forwards;
  animation-timing-function: steps(4, jump-start);
  opacity: 0;
  transform: scale(10);
  transform: rotate(180deg) translate(-100%, 100%) scale(10);
}

.qweens > div > img {
  max-height: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flyin 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  transform: scale(10);
  transform: rotate(180deg) translate(-100%, 100%) scale(10);
}

@keyframes flyin {
  to { 
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}


.lettersDisplay {
  display: flex;
  justify-content: center;
}

.guessed {
  color: rgb(190, 145, 233)
}

#root > div > main > section > img {
  max-width: 40rem;
  /* display: flex;
  justify-content: center; */
}

.sentenceContainer {
  display: flex;
  justify-content: center;
}

.letter{
  padding: 1rem;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
