body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rainbow: linear-gradient(
    to left,
    #d23be7,
    #4355db,
    #34bbe6,
    #49da9a,
    #a3e048,
    #f7d038,
    #eb7532,
    #e6261f
  );
  --rainbowHover: 3px 3px 9px 3px #d23be7, -5px 3px 8px 3px #4355db,
    -5px -3px 8px 3px #34bbe6, 9px 3px 8px 3px #49da9a, 6px 8px 7px 4px #a3e048,
    -7px 8px 8px 4px #f7d038, -7px -3px 10px 0px #eb7532,
    3px 3px 8px 3px #e6261f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  color: black;
  padding: 1rem;
  background-color: #cbe5a3;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}

.losing-container {
  background-color: #cbe5a3;
  padding-bottom: .3rem;
}
.qweens {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.qweenContainer {
  height: 11rem;
  width: 8rem;
  margin: 0.3rem 1rem;
  background-color: white;
  border-width: 1rem;
  border-style: solid;
  border-image: var(--rainbow);
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: flyin 0.2s ease forwards;
  animation-timing-function: steps(4, jump-start);
  opacity: 0;
  transform: scale(10);
  transform: rotate(-180deg) translate(100%, 100%) scale(10);
}

.qweens > div > img {
  max-height: 90%;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

@keyframes flyin {
  to {
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lettersDisplay {
  display: flex;
  justify-content: center;
}

.guessed {
  color: rgb(190, 145, 233);
}

#root > div > main > section > img {
  max-width: 40rem;
}

.sentenceContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 0.1rem solid black;
  margin: 3rem 5rem;
}

.letter {
  padding: 1rem;
  font-size: 2rem;
}

.lettersDisplay {
  font-size: 4rem;
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.letterGuesser > button {
  color: black;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 50%;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  margin: 0.4rem;
  padding: 0.1rem;
  text-transform: uppercase;
}
.letterGuesser > button:hover {
  transform: translate(3px, -3px);
  box-shadow: var(--rainbowHover);
}

.guessed > button {
  color: rgb(174, 229, 211);
  transform: rotate(180deg);
}

.lostContainer {
  border-width: 2rem;
  border-style: solid;
  width: 80%;
  position: absolute;
  top: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  align-self: center;
  background-color: white;
  border-image: var(--rainbow);
  border-image-slice: 1;
  z-index: 5;
  animation: flyin 0.5s ease forwards;
  opacity: 0;
  transform: rotate(180deg) translate(-100%, 100%) scale(2);
}

.winner-container {
  position: absolute;
  top: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 5;
  padding-bottom: 10rem;
}

.video {
  align-self: center;
  border-width: 2rem;
  border-style: solid;
  border-image: var(--rainbow);
  border-image-slice: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.fa-crown {
  padding: 1rem;
}

.crown-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  overflow: hidden;
}

.giant-text {
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0.5rem;
  animation: flyin 0.2s ease forwards;
  animation-timing-function: steps(4, jump-start);
  opacity: 0;
  transform: scale(10);
  transform: rotate(-180deg) translate(100%, 100%) scale(10);
}

.playAgain {
  font-size: 1.5rem;
  background-color: white;
  border: 0.1rem solid black;
  border-radius: 5%;
  margin: 3rem;
  padding: 1.2rem;
}

.playAgain:hover {
  transform: translate(3px, -3px);
  box-shadow: var(--rainbowHover);
}

@media (max-width: 480px) {
  .giant-text {
    font-size: 2rem;
  }
  .lettersDisplay {
    font-size: 2rem;
    margin: 1.6rem;
  }

  .letterGuesser > button {
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .letter {
    padding: 0.4rem;
    font-size: 1rem;
  }

  .qweenContainer {
    width: 5rem;
    height: 7rem;
    border-width: 0.3rem;
    margin: 0.2rem;
  }

  .winner-container {
    top: 300px;
  }

  .lostContainer {
    top: 300px;
    border-width: 1rem;
  }

  section.lostContainer > img {
    width: 15rem;
  }

  .video {
    max-width: 18rem;
    max-height: 13rem;
    border-width: 1rem;
  }
}
